/* CZCIONKA UŻYWANA NA STRONIE */
/*
font-family: 'Saira', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif;

font-family: 'Open Sans',sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}


/*_______________header - login i nazwa_______________*/

header {
    height: 100px;
}

div.LoginAndRegistration {
    position: relative;
}

/*przycisk prowadzący do formularza logowania*/
button.Login {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 100px;
    height: 40px;
    border-radius: 28px;
    /* background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%); */
    background-color: #FACE58;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Saira',
        sans-serif;
    font-weight: bold;

}

/* nazwa aplikacji */
p.title {
    position: absolute;
    left: 20px;
    line-height: 100px;
    font-size: 45px;
    color: black;
    font-family: 'Saira Extra Condensed',
        sans-serif;
}

/*_______________FORMULARZ LOGOWANIA_______________*/

/* kontener w którym są pola INPUT do maila i hasła */
.containerInput {
    position: absolute;
    height: 300px;
    padding: 16px;
    margin-top: 80px;
    width: 100%;
    /*margin-left: 5%;
    margin-right: 5%;*/
    /*left: 10%;
    right: 10%;*/
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

form {
    position: relative;
    background: orange;
}

/*przycisk zaloguj - w formularzu logowania*/
#loginToAccount {
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    top: 220px;
    height: 40px;
    border-radius: 28px;
    /* background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%); */
    background-color: #FACE58;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Saira',
        sans-serif;
    font-weight: bold;
}

/* modal - okno dialogowe wyświetlane na górze bieżącej strony */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    padding-top: 60px;
    font-family: 'Open Sans',
        sans-serif;
    letter-spacing: 1px;

}

/* modal - zawartość okna */
.modal-content {
    /*kolor tła formularza logowania */
    background-color: white;
    margin: 8% auto 15% auto;
    /* 8% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%;
    height: 420px;
}

/* div z przyciskiem zaloguj i możliwością przejścia do rejestracji */
div.newUser {
    position: absolute;
    width: 100%;
    top: 280px;
    text-align: center;
    font-family: 'Saira Extra Condensed',
        sans-serif;
    font-size: 20px;
}

div.newUser a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

/* przycisk zamykający okienko modalne z formularzem logowania */
.close {
    position: absolute;
    right: 20px;
    top: 0;
    color: #000;
    font-size: 65px;
    font-weight: bold;
    cursor: pointer;
}

/* STYLOWANIE POD WIDOK MOBILNY */
@media(orientation: portrait) and (min-width: 768px) {
    .modal-content {
        margin: 5% 0%;
    }

    .containerInput {
        width: 85%;
    }
}

@media(orientation: portrait) and (min-width: 1024px) {
    .modal-content {
        margin: 3% 0%;
    }
}

@media(orientation: landscape) and (min-width: 533px) {
    .modal-content {
        margin: 4% 0%;
    }

    .containerInput {
        width: 80%;
        right: 10%;
        left: 10%;
    }

    #loginToAccount {
        width: 60%;
        left: 20%;
        right: 20%;
    }


}

@media(orientation: landscape) and (min-width: 1024px) {

    .modal-content {
        width: 500px;
        height: 380px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(orientation: landscape) and (min-width: 1024px) {

    .modal-content {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(orientation: landscape) and (min-width: 1280px) {

    .modal-content {
        width: 40%;
    }
}

/*_______________SEKCJA ZE ZDJĘCIEM NA STRONIE STARTOWEJ_______________*/

section.mainImage {
    background-image: url(/images/SectionSandwich2.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}


/* dodac style dla orientacji poziomej */

@media(orientation: landscape) and (min-width: 1024px) {

    p.title {
        left: 50px;
    }

    button.Login {
        right: 30px;
    }

    section.mainImage {
        background-image: url(/images/SectionSandwich2.jpg);
        height: 100vh;
        background-position: center bottom;
    }

}

/*_______________SEKCJA 'DZIAŁANIE APLIKACJI'_______________*/

h2 {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Saira Extra Condensed',
        sans-serif;
    font-size: 35px;
}

section.Instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans',
        sans-serif;
}

#picture {
    margin-top: 50px;
    width: 128px;
    height: 128px;
}

div.HowToUseApp {
    text-align: center;
}

div.HowToUseApp p {
    margin-top: 10px;
}

div.HowToUseAppPicture1 {
    background-image: url(/images/chooseDish.png);
}

div.HowToUseAppPicture2 {
    background-image: url(/images/address.png);
    margin-left: auto;
    margin-right: auto;
}

div.HowToUseAppPicture3 {
    background-image: url(/images/food-delivery.png);
}

div.HowToUseApp {
    margin-left: auto;
    margin-right: auto;
}

@media(orientation: landscape) and (min-width: 533px) {
    section.Instruction {
        flex-direction: row;
        justify-content: space-around;
    }
}

/*_______________SEKCJA - O APLIKACJI MOBILNEJ_______________*/

section.MobileApp {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 400px;
    background-color: #FACE58;
    font-size: 35px;
    text-align: center;
    font-family: 'Saira Extra Condensed',
        sans-serif;
}

section.MobileApp p {
    padding-top: 10px;
}

div.orderFood {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 256px;
    height: 256px;
    margin-top: 50px;
    background-image: url(/images/orderFood.png);
}

@media(orientation: landscape) and (min-width: 1024px) {

    section.MobileApp {
        position: relative;
    }

    div.orderFood {
        position: absolute;
        bottom: 100px;
        right: 200px;
    }
}

/*_______________SEKCJA - FAQ_______________*/

.faq {
    cursor: default;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.faq h2 {
    margin-bottom: 30px;
    font-family: 'Saira Extra Condensed',
        sans-serif;
}

.faq i {
    margin-right: 10px;
}

.faq a.socialMedia {
    display: none;
}

.faq div {
    color: black;
    margin-left: 10px;
}

.faq a {
    margin-top: 5px;
    border-radius: 10px;
    background-color: #FACE58;
    /*	background-color: #0D0F19;*/
    display: block;
    width: 100%;
    color: white;
    font-family: saira, sans-serif;
    padding: 10px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}



/*_______________STOPKA_______________*/

footer {
    height: 50vh;
}